.card-body{
    position: absolute;
    
    /* overflow-y: hidden;
    overflow: hidden; */
    transform: translateY(1%);
    visibility:hidden;
    
    background-color: yellow;
    
}

.card:hover .card-body{
    bottom: 0;
    visibility: initial;
    overflow: hidden;
}

.cardDiv{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 10px;
    
   
}
.card img{
    height: 300px;
}

.facilities{
    color: white;
    font-family: 'Lumanosimo', cursive;
    text-align: center;
    font-size: 50px;
    margin: 20px 0px;
}
