#membership{
    background-color:yellowgreen;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
    font-style: italic;
    font-weight: bolder;
}

#table-text{
    letter-spacing: 2px;
    table-layout: auto;
}

.table tr{
    background-color: aqua;
}
#linkGet{
    text-decoration: none;
}
#linkGet:hover{
    font-size: x-large;
    color: green;
}