.logo{
    height: 60px;
    width: 70px;
    margin-right: 8px;
    border-radius: 13px;
}

/* #navbar-main{
    margin-bottom: 10px;
}  */

#navbar a {
    float: left;
    display: block;
    color: #eeeeee;
    text-align: center;
    /* padding: 15px 18px; */
    text-decoration: none;
    font-size: 18px;
}

#navbar {
    /* overflow: hidden; */
    background-color: #666666;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

button:hover{
    font-size: 30px;
}
p ,td,.navbar-brand{
    cursor: pointer;
}